.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .logos {
    font-size: 50px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }