<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Finalizacion de la encuesta
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="ion-padding">
    <ion-card-header>
      <ion-card-title>Finalizacion</ion-card-title>
    </ion-card-header>

    <div>
      <p>Gracias por responder la encuesta de movilidad</p>
    
      <br>
    
      <p>Enviaremos a tu correo un codigo QR con un regalo de agradecimiento, en caso de no haberlo recibido puedes solicitar 
        que que se reenvie el correo con el codigo QR
      </p>
    </div>
    
    <br>
    
    <form>
      <ion-button
        type="submit" 
        expand="block">Reenviar Correo</ion-button>
    
        <br>
    
        <ion-button
        type="submit" 
        expand="block">Lector QR</ion-button>
    
        <br>
    
        <div class="container">
        <ion-icon name="logo-instagram"></ion-icon>
        <ion-icon name="logo-facebook"></ion-icon>
        <ion-icon name="logo-twitter"></ion-icon>
        <ion-icon name="logo-whatsapp"></ion-icon>
        </div>
            
    </form>

  </ion-card>

</ion-content>