<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Encuesta
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="ion-padding">
    <ion-card-header>
      <ion-card-title>Preguntas</ion-card-title>
    </ion-card-header>

    <form [formGroup] ="encuestaForm" (submit)="submitForm()">

        <ion-list>
          <ion-item>
            <ion-select
             aria-label="Publico / Privado" 
             placeholder="Publico / Privado" 
             (ionChange)="handleChange($event)" 
             formControlName="Publico_Privado"
             fill="outline">
             <ion-select-option value="publico">Publico</ion-select-option>
             <ion-select-option value="privadoSinCompartir">Privado Sin Compartir</ion-select-option>
             <ion-select-option value="privadoCompartido">Privado Compartido</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>

        <br>

        <ion-list>
          <ion-item>
            <ion-select
			      aria-label="Medio de Transporte" 
			      placeholder="Medio de Transporte" 
            formControlName="MedioTransporte"
			      fill="outline">
            <ion-select-option *ngFor="let valor of listaTransportes">{{valor}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>

        <br>
        <ion-input 
        label="KM"
        type="number"
        label-placement="floating" 
        fill="outline"
        placeholder="0">
        formControlName="KM"
        </ion-input>

        <br>

        <ion-button type="submit" expand="block">Enviar</ion-button>

        <br>

        <ion-button
        (click)="backToLogin()" 
        expand="block">VOLVER</ion-button>

        <P>En caso de dudas contactar al 22-777 77 77</P>

      </form>
  
    <ion-card-content>

    </ion-card-content>

  </ion-card>
  
</ion-content>