<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Encuesta
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="ion-padding">
    <ion-card-header>
      <ion-card-title>Preguntas</ion-card-title>
    </ion-card-header>

      <form>

        <ion-list>
          <ion-item>
            <ion-select [(ngmodel)]="test1" aria-label="" placeholder="Medio de Transporte" [multiple]="false">
              <ion-select-option value="publico">Publico</ion-select-option>
              <ion-select-option value="privado">Privado</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
        <br>
        <ion-list>
          <ion-item>
            <ion-select aria-label="" placeholder="Publico" [multiple]="true">
              <ion-select-option value="metro">Metro</ion-select-option>
              <ion-select-option value="micro">Micro</ion-select-option>
              <ion-select-option value="bus">Bus</ion-select-option>
              <ion-select-option value="taxi">Taxi</ion-select-option>
              <ion-select-option value="uber">Uber</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
        <br>
        <ion-list>
          <ion-item>
            <ion-select [disabled]="test1 == 'publico'" aria-label="" placeholder="Privado" [multiple]="false">
              <ion-select-option value="auto">Auto</ion-select-option>
              <ion-select-option value="moto">Moto</ion-select-option>
              <ion-select-option value="otro">Otro</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
        <br>
        <ion-list>
          <ion-item>
            <ion-select aria-label="" placeholder="KM Recorridos" [multiple]="true">
              <ion-select-option value="text">KM</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
        <br>
        <ion-button expand="block">Enviar</ion-button>

        <br>
        <P>En caso de dudas contactar al 22-777 77 77</P>

      </form>
  
    <ion-card-content>

    </ion-card-content>

  </ion-card>
  
</ion-content>
