<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ingreso al Sistema
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="ion-padding">
    <img class ="logo" alt="Movilidad" src="assets/img/imagen1.png" />
    <ion-card-header>
      <ion-card-title>Registro de Movilidad</ion-card-title>
    </ion-card-header>

      <form [formGroup]="loginForm" (submit)="submitLoginForm()">
        <ion-input 
          label="Email"
          type="email"
          label-placement="floating" 
          fill="outline" 
          formControlName="email"
          errorText="Email es requerido y debe ser valido"
          placeholder="Ingrese su Email">
        </ion-input>
        <br>
        <ion-input 
          label="Contraseña"
          type="password"
          label-placement="floating" 
          fill="outline"
          formControlName="password"
          errorText="Contraseña es requerida, debe tener al menos 8 caracteres y debe contener al menos una letra mayúscula, una letra minúscula y un número"
          placeholder="Ingrese su Contraseña">
        </ion-input>
        <br>
        <ion-button 
          type="submit" 
          [disabled]="!loginForm.valid" 
          expand="block">Ingresar</ion-button>
        <br>
        <ion-button (click)="toRegister()" expand="block">Registrarse</ion-button>
        <br>
        <ion-button (click)="toRecuperacion()" expand="block">¿Olvido su Contraseña?</ion-button>

      </form>
  
  </ion-card>
  
</ion-content>