<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Registro
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="ion-padding">
    <ion-card-header>
      <ion-card-title>Nuevo Usuario</ion-card-title>
    </ion-card-header>

      <form [formGroup] ="registerForm" (submit)="submitForm()">

        <ion-input 
          label="Rut"
          type="text"
          label-placement="floating" 
          fill="outline" 
          formControlName="rut"
          errorText="El Rut es requerido y debe ser valido"
          placeholder="Ingrese su Rut">
        </ion-input>

        <br>

        <ion-input 
          label="Nombres"
          type="text"
          label-placement="floating" 
          fill="outline" 
          formControlName="nombres"
          errorText="Ingresa tu nombre"
          placeholder="Ingresa tu nombre">
        </ion-input>

        <br>

        <ion-input 
          label="Apellidos"
          type="text"
          label-placement="floating" 
          fill="outline" 
          formControlName="apellidos"
          errorText="Ingresa tus Apellidos"
          placeholder="Ingresa tus Apellidos">
        </ion-input>

        <br>
        
        <ion-input 
          label="Fecha Nacimiento"
          type="date"
          label-placement="floating" 
          fill="outline" 
          formControlName="fechaNacimiento"
          errorText="Ingresa tu Fecha de Nacimiento"
          placeholder="Ingresa tu Fecha de Nacimiento">
        </ion-input>

        <br>

        <ion-list>
          <ion-item>
            <ion-select 
            aria-label="formatoTrabajo" 
            placeholder="Selecciona tu formato de trabajo" 
            fill="outline">
              <ion-select-option value="presencial">Presencial</ion-select-option>
              <ion-select-option value="teletrabjo">Teletrabajo</ion-select-option>
              <ion-select-option value="mixto">Mixto</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>

        <br>

        <ion-list>
          <ion-item>
            <ion-select
             aria-label="comunaResidencia" 
             placeholder="Ingresa tu Comuna de Residencia" 
             fill="outline">
                <ion-select-option *ngFor="let valor of listaComunas">{{valor}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>

        <ion-list>
          <ion-item>
            <ion-select 
            aria-label="Comuna de Trabajo" 
            placeholder="Ingresa tu Comuna de Trabajo" 
            fill="outline">
                <ion-select-option *ngFor="let valor of listaComunas">{{valor}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
        
        <br>

        <ion-input 
          label="Email"
          type="email"
          label-placement="floating" 
          fill="outline" 
          formControlName="email"
          errorText="Email es requerido y debe ser valido"
          placeholder="Ingrese su Email">
        </ion-input>

        <br>

        <ion-input 
          label="Contraseña" 
          type="password"
          label-placement="floating" 
          fill="outline" 
          formControlName="password"
          errorText="Contraseña es requerida, debe tener al menos 8 caracteres y debe contener al menos una letra mayúscula, una letra minúscula y un número"
          placeholder="Ingrese su Contraseña">
        </ion-input>

        <br>

        <ion-input 
          label="Repetir Contraseña" 
          type="password"
          label-placement="floating" 
          fill="outline" 
          formControlName="confirmPassword"
          errorText="Contraseña es requerida, debe tener al menos 8 caracteres y debe contener al menos una letra mayúscula, una letra minúscula y un número"
          placeholder="Repita su Contraseña">
        </ion-input>

        <div *ngIf="registerForm.errors?.['passwordMismatch']">
          <ion-text color="danger">Las contraseñas no coinciden</ion-text>
        </div>

        <br>
        <ion-button
        type="submit"
        [disabled]="!registerForm.valid" 
        expand="block">Registrar</ion-button>
        <br>
        <ion-button
        (click)="backToLogin()" 
        expand="block">VOLVER</ion-button>

        <P>En caso de dudas contactar al 22-777 77 77</P>

      </form>

  </ion-card>
  
</ion-content>
