<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Lector QR
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="ion-padding">
    <ion-card-header>
      <ion-card-title>Leer QR</ion-card-title>
    </ion-card-header>
    
    <img class="logo" src="assets/img/1.png" alt="QR">

    <br>

    <ion-button class="boton" 
    type="submit" 
    expand="block">Escanear</ion-button>

    <p>Felicitaciones </p>
          
  </ion-card>

</ion-content>